node_modules/
student-app/node_modules/
dist/
dist-client/
uploads/
*.db
*.db-shm
*.db-wal
.env
CopyExam-win32-x64/
public/downloads/student-app.exe
android/.gradle/
android/app/build/
public/downloads/student-app.exe
